.navbar {
  margin-bottom: 0 !important;
}
body {
  height: 95vh;
}

.col-md-3 {
    width: 20%;
}

.splash {
  background: url(../images/llama.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
