<div class="dataSelection">
  <label for="xASs">x Axis</label>
  <select name="xAX" id="xAXs">
    <option value ="SD1">Semantic Dimension 1</option>
    <option value ="SD2">Semantic Dimension 2</option>
    <option value ="SD3">Semantic Dimension 3</option>
  </select>

  <label for="yAXs">y Axis</label>
  <select name="yAX" id="yAXs">
    <option value ="SD1">Semantic Dimension 1</option>
    <option value ="SD2">Semantic Dimension 2</option>
    <option value ="SD3">Semantic Dimension 3</option>
  </select>  
</div>


<div id="filter", class="dataSelection">
  <h3>Filters</h3>
  <legend>Institutions</legend>
  <input name='v' value="nyu" type="checkbox" checked>NYU
  </input><br>
  <input name="v" value="sinai" type="checkbox" checked >Sinai
  </input>
</div>
<p></p>
<div class="dataSelection">
  <form id="mark"> 
    <legend>Size of Dot</legend>
    <input type="radio" name="sepal" value='SD3'>Semantic Dimension 3</input>
    <br>
    <input type="radio" name="sepal" value="SD3">Number of Patents (holder)</input>
  </form>
</div>
<div class="dataSelection">
  <label for="radius_cutoff">Filter by Size</span>
  </label>
  <input type="range" min="5" max="20" id="radius_cutoff">
</div>


<div id="filter", class="dataSelection">
  <h3>Filters</h3>
  <legend>Institutions</legend>
  <input name='v' value="nyu" type="checkbox" checked>NYU
  </input><br>
  <input name="v" value="sinai" type="checkbox" checked >Sinai
  </input>
</div>
<p></p>
<div class="dataSelection">
  <form id="mark"> 
    <legend>Size of Dot</legend>
    <input type="radio" name="sepal" value='SD3'>Semantic Dimension 3</input>
    <br>
    <input type="radio" name="sepal" value="SD3">Number of Patents (holder)</input>
  </form>
</div>
<div class="dataSelection">
  <label for="radius_cutoff">Filter by Size</span>
  </label>
  <input type="range" min="5" max="20" id="radius_cutoff">
</div>
